BODY {background:#ffffff;color #000000; margin-top: .25in} 
H3 {font: 14pt verdana; color: #0000ff} 
P {font: 12pt times; text-indent: 0.5in; margin-left: .75in; margin-right: .75in} 
A {color:#ff0000}
